/* Root */

:root {
     /* Default font size */
     font-size: 16px;
     /* Color Pallet */
     --md-white: #F5F5FA;
     --md-black: #151515;
     --md-gray: #999;
     --md-light-gray: rgb(106, 98, 98);
     --md-strong-green: #187D6D;
     --md-light-green: #48AE4D;
     --md-bluepurple: #8a2be2;
     /* fonts */
     --md-main-font: 'superclarendon';
     --md-secondary-font: 'Roboto';
}

/* Fonts*/

@font-face {
	font-family: superclarendon;
	src: local(superclarendon), url(../fonts/superclarendon/superclarendon-rg-587270e85c031.ttf)
}

@font-face {
	font-family: Roboto;
	src: local(Roboto), url(../fonts/roboto/Roboto-Regular.ttf )
}

/* Roboto-Regular.ttf */
/* Default */

::-webkit-scrollbar {
	width: 0;
}

body {
     width: 100%;
     max-width: 100vw;
     overflow-x: hidden;
}

#app {
     width: 100%;
}
